APP_LOG_LEVEL=log,error,warn,debug

#database
ENVIRONMENT=local
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=datn
DB_LOG_LEVEL=error,query
JWT_SECRET=
GOOGLE_CLIENT_ID=3
URL_CORS=https://register.lvtdel.site/
#app
PORT=3004
WORKER_APP_PORT=3005

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6378
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX=
REDIS_TLS_ENABLED=false

# Queue
EXCHANGE_QUEUE_INTERVAL_TIME=10  # Interval tính bằng giây (mặc định: 60s)

#Firebase
FIREBASE_CONFIG_URL=/home/lvtdel/workspace/k8s/DATN/backend/firebase-auth-config.json
FIREBASE_AUTH_CONFIG_URL=/home/lvtdel/workspace/k8s/DATN/backend/firebase-auth-config.json
