APP_LOG_LEVEL=log,error,warn,debug

#database
ENVIRONMENT=local
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=guest
DB_PASSWORD=12345678
DB_NAME=defect_1
DB_LOG_LEVEL=error,query

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_KEY_PREFIX=
REDIS_TLS_ENABLED=false